<div class="top-title-container" >
  <h1 style="padding-top: 0.6%;"><b>Groupe : {{nameChannel.name}} </b></h1>
  <button class="option-channel" mat-icon-button [matMenuTriggerFor]="menu" aria-label="Option channel">
    <mat-icon>more_vert</mat-icon>
  </button>
                      <mat-menu #menu="matMenu">
                        <button (click)="modifyGroupeName(nameChannel.name, nameChannel.id)" mat-menu-item>
                          <mat-icon>settings</mat-icon>
                          <span>Modifier</span>
                        </button>
                        <button (click)="deleteGroupe(nameChannel.name, nameChannel.id)" mat-menu-item >
                          <mat-icon>delete</mat-icon>
                          <span>Supprimer</span>
                        </button>
                      </mat-menu>
</div>


<div class="tab-container">
  <h1><b>Utilisateurs</b></h1>

    <div class="div-main-tab-user">
      <div class="top-search-add">
        <div class="search-section">
          <mat-form-field>
            <mat-label>Rechercher ...</mat-label>
            <input  matInput (keyup)="applyFilterUser($event)" placeholder="Ex. Julien" #input>
          </mat-form-field>
        </div>

        <div class="add-section">
          <!--    BOUTTON ADD USERS       -->
          &nbsp;
          <div class="example-button-container ">
            <button (click)="addUserToChannel(nameChannel.id)" mat-fab class="add" >
              <mat-icon>person_add</mat-icon>
            </button>
          </div>&nbsp;&nbsp;
        </div>
      </div>

      <div class="mat-elevation-z8 table scroller">

        <table mat-table [dataSource]="dataSourceUser" matSort>

          <ng-container matColumnDef="{{displayedColumnsUser[0]}}">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> {{nameColumnsUser[0]}} </th>
            <td mat-cell *matCellDef="let row"> {{row.id}} </td>
          </ng-container>

          <ng-container matColumnDef="{{displayedColumnsUser[1]}}">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> {{nameColumnsUser[1]}} </th>
            <td mat-cell *matCellDef="let row"> {{row.firstname}} </td>
          </ng-container>

          <ng-container matColumnDef="{{displayedColumnsUser[2]}}">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> {{nameColumnsUser[2]}} </th>
            <td mat-cell *matCellDef="let row"> {{row.lastname}} </td>
          </ng-container>

          <ng-container matColumnDef="{{displayedColumnsUser[3]}}">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> {{nameColumnsUser[3]}} </th>
            <td mat-cell *matCellDef="let row"> {{row.email}} </td>
          </ng-container>

          <ng-container matColumnDef="{{displayedColumnsUser[4]}}" >
            <th mat-header-cell *matHeaderCellDef mat-sort-header> {{nameColumnsUser[4]}} </th>
            <td mat-cell *matCellDef="let row">
              <!--    BOUTTON DELETE USER       -->
              <span (click)="deleteUserOfChannel(nameChannel.id ,row.id, row.firstname, row.lastname)" class="material-symbols-outlined trash">
                  delete
              </span>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumnsUser"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumnsUser;"></tr>

          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="5">Aucune résultat pour votre recherche "{{input.value}}"</td>
          </tr>
        </table>

        <mat-paginator [pageSizeOptions]="[10]" aria-label="Select page of users"></mat-paginator>
      </div>
      <br>
    </div>
</div>






<div class="tab-container">
      <h1><b>Groupes</b></h1>
    <div class="div-main-tab-user">
      <div class="top-search-add">
        <div class="search-section">
          <mat-form-field>
            <mat-label>Rechercher ...</mat-label>
            <input  matInput (keyup)="applyFilterGroupe($event)" placeholder="Ex. Julien" #input>
          </mat-form-field>
        </div>

        <div class="add-section">
          <!--    BOUTTON ADD USERS       -->
          &nbsp;
          <div class="example-button-container ">
            <button (click)="addAllUserGroupeToChannel(nameChannel.id)" mat-fab class="add" >
              <mat-icon>group_add</mat-icon>
            </button>
          </div>&nbsp;&nbsp;
        </div>
      </div>

      <div class="mat-elevation-z8 table scroller">

        <table mat-table [dataSource]="dataSourceGroupe" matSort>

          <ng-container matColumnDef="{{displayedColumnsGroupe[0]}}">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> {{nameColumnsGroupe[0]}} </th>
            <td mat-cell *matCellDef="let row"> {{row.id}} </td>
          </ng-container>

          <ng-container matColumnDef="{{displayedColumnsGroupe[1]}}">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> {{nameColumnsGroupe[1]}} </th>
            <td mat-cell *matCellDef="let row"> {{row.name}} </td>
          </ng-container>

          <ng-container matColumnDef="{{displayedColumnsGroupe[2]}}" >
            <th mat-header-cell *matHeaderCellDef mat-sort-header> {{nameColumnsGroupe[2]}} </th>
            <td mat-cell *matCellDef="let row">
              <!--    BOUTTON DELETE USER       -->
              <span (click)="deleteAllUserGroupeFromChannelByGroupe(nameChannel.id, row.id, row.name)" class="material-symbols-outlined trash">
                  delete
              </span>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumnsGroupe"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumnsGroupe;"></tr>

          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="5">Aucune résultat pour votre recherche "{{input.value}}"</td>
          </tr>
        </table>

        <mat-paginator [pageSizeOptions]="[10]" aria-label="Select page of users"></mat-paginator>
      </div>
      <br>
    </div>
</div>
