
body{
  background-color: var(--color-primary) !important;
  margin-top: 0px;
  padding-top: 0px;
}

.body-input{
  box-shadow: var(--shadow-box-darker);
}

.login-container {
  width: 800px !important;
  margin-top: 15%;
  background-color: var(--color-menu);
  border-radius: 15px;
}

.btn-validation {
  background-color: var(--color-secondary);
  color:  var(--basic-color-white);
}

h1{
  color:  var(--color-secondary);
  text-align: center;
  margin-top: 15px;
}

.txt-lbl{
  font-weight: bold;
  color: white;
}

input{
  width: 40%;
  text-align: center;
  margin: auto;
}

.container-input-label{
  display: flex;
  flex-direction: column;
  text-align: center;
}

.mail{
  margin-bottom: 3%;
  margin-top: 5%;
}
.pass{
  margin-bottom: 5%;
}
